body {
    font-family: Arial, sans-serif;
    background-color:grey;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: purple;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 2px 5px rgba(255,255,255,0.1);

}

header h1 {
    margin: 0;
    color: #00bcd4;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: black;
    border-radius: 10px;
}

img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

section {
    margin-top: 20px;
}

h2 {
    color: blue;
    border-bottom: 1px solid #00bcd4;
    padding-bottom: 5px;
}

footer {
    text-align: center;
    background-color: gold;
    padding: 10px;
    color: blue;
    margin-top: 30px;
}

a {
    color: #00bcd4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.stickers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


.stickers img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.stickers img:hover {
    transform: scale(0.1);
    box-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
    cursor: pointer;
}


