*{
margin: 0;
padding: 0;
font-family: sans-serif;
border-sizing: border-box;
}
header{
display: flex;
justify-content: space-between;
align-self: center;
background-color: aqua;
padding: 15px;

}
/* responsive design */
@media(max-width:600px){
body{
background-color: blueviolet;
}
header{
flex-direction: column;


}
nav ul
}